# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# User-specific files
.idea/
.vscode/

# macOS-specific
.DS_Store

# Android-specific
.gradle/
local.properties

# iOS-specific
Pods/
DerivedData/
.xcuserdata/
