<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065462126306-sla57ni7q7n8mhs2v0miqa6u5ms8lrsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvzZnf6LKst7PUxK0VDWINu69PWJ8roW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1065462126306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santaitechnology.santai</string>
	<key>PROJECT_ID</key>
	<string>santaitechnologyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>santaitechnologyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065462126306:ios:a8560c0bf10de43a4e70bb</string>
</dict>
</plist>